{% extends 'base.html' %}

{% block content %}



<br><br>
<div class="container">


    <div class="row">
    <center>
        <div class="col-8">

            <form method="post">
                {% csrf_token %}
                username: <input type="text" name="username" required> </input></br></br>
                password: <input type="password" name="password" required> </input>
                </br></br>
                <input type="submit" > </input>
            </form>
        </div>

    </center>

    </div>


</div>
<br><br>
{% endblock %}